body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

h1 {
    margin: auto 10px;
}

main {
    background-image: url('../img/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.backgroundImg {
    z-index: -1;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.title-section {
    color: white;

}

/* styles pour la navigation */

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    margin: 0 2.5px;
    padding: 10px;
}

nav li:hover {
    background-color: white;
}

nav li:hover a {
    color: black;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.img-manga {
    width: 10vw;
    height: 15vw;
}

#test {
    background-color: yellow;
}

/* Styles pour les écrans de petite taille */
@media (max-width: 826px) {

    /* Styles spécifiques pour les écrans de petite taille */
    nav {
        color: #fff;
        padding: 10px 20px;
    }

    nav ul {
        padding: 0;
        display: none;
        justify-content: space-between;
        align-items: right;
        position: absolute;
        right: 2vw;
        top: 58px;
        z-index: 1;
        border: 2px solid #fff;
    }

    nav li {
        width: 100%;
        padding: 10px 0;
        position: relative;
        text-align: center;
    }

    nav li:hover {
        background-color: white;
    }

    nav li:hover a {
        color: black;
    }

    nav li:not(:last-child) {
        border-bottom: 1px solid #fff;
    }

    nav a {
        color: #fff;
        text-decoration: none;
    }

    .menu-icon {
        font-size: 40px;
        cursor: pointer;
    }

    .icon-bar {
        display: block;
        width: 22px;
        height: 4px;
        margin: 4px 0;
        background-color: rgb(255, 255, 255);
    }

    nav:hover ul {
        display: flex;
        flex-direction: column;
        align-items: right;
        background-color: #333;
    }

}